:root {
  --green: #46b684;
  --blue: #17334e;
  --blue-o: rgb(23, 51, 78, 0.4);
  height: 100%;
}

body {
  font-family: "Inter";
  height: 100%;
  background: linear-gradient(
    30deg,
    rgba(67, 132, 192, 1) 0%,
    rgba(74, 168, 150, 1) 100%
  );
  font-size: 16px;
}

#app {
  height: 100%;
}
ul,
li {
  list-style: none;
}
